# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
!.env.example
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Databases
*.db
*.sqlite3

# IDEs / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
# Node
node_modules/

# Nx
.nx/

# 